*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo{
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    overflow: hidden;
    font-family: sans-serif;
}

.todo__header{
    padding: 10px 15px;
    background-color: #333;
    text-align: center;
    color: aliceblue;
}

.todo__out{
    height: 400px;
    padding: 10px 15px;
    overflow: auto;
}

.todo__footer{
    text-align: center;
    padding: 10px 5px;
    background-color: #333;
}

button{
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover{
    background-color: rgb(94, 93, 93);
    color: #fff;
}

.todo__control{
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 75%;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid grey;
}
input:focus, button:focus{
    outline: none;
}

.todo__item{
    position: relative;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(139, 139, 139);
}

.todo__item-title{
    font-size: 18px;
    font-style: italic;    
}

